/*=============================RESET====================================*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/*============================HEADER===============================*/

header {
    height: 100px;
    background-color: whitesmoke;
    padding: 0 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.x, .burger {
    width: 30px;
    height: 30px;
}

.show-menu, .hide-menu {
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.show-menu {
    order: 1;
}

/*.menu a:hover, .show-menu:hover,.hide-menu:hover{
    background-color: ghostwhite;
}*/

#check {
    display: none;
}

/*==============================RESPONSIVE==========================*/

@media (max-width: 760px) {
    /*HEADER*/
    .show-menu, .hide-menu {
        display: block;
    }

    header {
        height: 70px;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: whitesmoke;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .hide-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}

/*==================================MAIN===========================*/

section {
    height: 100%;
}

.main {
    width: 100%;
    background-color: whitesmoke;
}

.in-main{
    margin: 0 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: 400px;
}

.about h1 {
    font-size: 4rem;
}

.about p {
    width: 100%;
    color: #423f40;
    font-size: 1.5em;
}

.introduction{
    width: 100%;
    max-width: 580px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.photo {
    width: 250px;
    grid-column: 1/2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.info {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.2rem;
    
}

.exp {
    grid-column: 2/3;
    font-size: 1.2rem;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 320px;
    height: 50px;
    background-color: #8E7BEF;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

.media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8E7BEF;
}

.media-icons {
    grid-column: 2/3;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    width: 150px;
    
} 

.year {
    color: #8E7BEF;
    font-size: 1.1rem;
    font-weight: bold;
}

.contact-phone {
    display: none;
}

/*============================RESPONSIVE===============================*/

@media screen and (max-width: 760px) {
    .contact {
        display: none;
    }

    .in-main {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }

    .about {
        height: 200px;
    }

    .about h1 {
        font-size: 3.5rem;
    }

    .about p {
        font-size: 1em;
    }

    .photo {
        width: 165px;
    }

    .info {
        font-size: 1rem;
    }

    .contact-phone {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        background-color: #8E7BEF;
        color: whitesmoke;
        border-radius: 5px;
        cursor: pointer;
        margin: 25px;
    }

    .main {
        height: 100%;
    }
}


/*===============================Experiencias y Habilidades========================*/

.exp-section {
    width: 100%;
    height: 100%;
    background-color: #FCDA68;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.bloque1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 10% 0 20%;
}

.bloque2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 25% 0 0;
}

.bloque3 {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin-left: 20%;
}

.inside-bloque3 {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 350px;
    height: 150px;
    
    
}

.skill-icons {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.5rem;
    text-align: center;
}

.skill-icon img {
    width: 40px;
}

.list {
    display: flex;
    gap: 50px;
    width: 100%;
}

.line {
    width: 100%;
    height: 1.5px;
    background-color: #423f40;
}

.list li {
    list-style: none;
}

.enterprise {
    color: #423f40;
    font-size: 0.9rem;
}

.appointment {
    font-weight: bold;
    font-size: 0.9rem;
}

.date {
    color: #423f40;
    font-size: 0.9rem;
}

.phone-skill-icons {
    display: none;
}

/*============================RESPONSIVE===============================*/

@media screen and (max-width: 460px) {
    .exp-section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .bloque1 {
        grid-row: 1;
        margin: 20px;
    }
    
    .bloque2 {
        grid-row: 2;
        margin: 20px;
    }

    .bloque3 {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 20px;
        height: 270px;
    }

    .skill-icons {
        display: none;
    }

    .skills {
        margin-bottom: 30px;
    }

    .phone-skill-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .phone-skill-icon {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    
    .mobile {
        width: 50px;
    }

    .motion {
        width: 50px;
    }

    .edit {
        width: 50px;
    }

    .bar {
        width: 50px;
    }
}