/*=============================RESET====================================*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/*============================HEADER===============================*/

header {
    height: 100px;
    background-color: gray;
    padding: 0 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.x, .burger {
    width: 30px;
    height: 30px;
}

.show-menu, .hide-menu {
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.show-menu {
    order: 1;
}

/*.menu a:hover, .show-menu:hover,.hide-menu:hover{
    background-color: ghostwhite;
}*/

#check {
    display: none;
}

/*==============================RESPONSIVE==========================*/

@media (max-width: 760px) {
    /*HEADER*/
    .show-menu, .hide-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: gray;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .hide-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}